.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

### Lombok
lombok.config

.DS_Store

### Helm
**/Chart.lock
**/charts

## Shared scripts pulled from civil-service at build time
bin/shared/*
!bin/shared/.gitkeep

## Sparse-checkout temp directory
.civil-service-sparse

## Terraform
**/.terraform/**
**/.terraform.lock.hcl